.header {
    background-color: darkcyan;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    margin: 5px;
    border: 1px solid grey;
    
}

.logo {
    text-decoration: underline;
}