.btn {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;

}