* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
  color: black;
  

}
 
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(219, 216, 212, 0.895);
}

.parent {
  min-height: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
  
  
}

.card {
  height: 330px;
  width: 300px;
  border: 2px solid rgba(219, 216, 212, 0.895) ;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 20px;
  background-color: #Fff;
  
  
}
.top{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.top img {
  height: 50px;
  width: 50px;
  border: 1px solid black ;
  border-radius: 50%;
  padding: 2px;
  
}

.top button {
  height: 35px;
  width: 70px;
  padding: 5px;
  border: 1px solid rgba(219, 216, 212, 0.895) ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgba(219, 216, 212, 0.895);
  background-color: #Fff;
}

.center-high {
  display: flex;
}
.center-high h4 {
  font-size: 17px;
  font-weight: 500;
}

.center-high p {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 100;
  color: #8b8b8b;
}


.center-low  {
  display: flex;
  gap: 3px;

}

.center-low h5 {
  border-radius: 5px;
  height: 20px;
  width: 70px;
  padding: 5px;
  display: flex;
  background-color: rgb(234, 229, 229);
  font-size: 10px;
  font-weight: 500;
  padding: 4px 12px;
}

.center-low h6 {
  border-radius: 5px;
  height: 20px;
  width: 80px;
  padding: 5px;
  display: flex;
  background-color: rgb(234, 229, 229);
  font-size: 10px;
  font-weight: 500;
  padding: 4px 12px;
}


.bottom {
  margin-top: 40px ;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.bottom button {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  color: #Fff;
  background-color: #111;
}