body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgb(35, 35, 35);
    color: aliceblue;
}

h1{
    background-color: gainsboro;
    padding: 10px 70px;
    margin: 20px;
    width: fit-content;
    font-size: 100px;
    border-radius: 5px;
    background-color: gray;
}

button {
    height: 60px;
    width: 120px;
    margin: 10px;
    border-radius: 5px;
    background-color: gray;
}