/* button{
    margin: 20px;
}

input {
    margin: 15px;
    padding: 20px;
}

.box {
    height: 500px;
    width: 500px;
    background-color: red;
} */
body {
    padding: 0;
    margin: 0;
}

.page1 {
    height: 100vh;
    width: 100vw;
    background-color: #111;
} 

.page2 {
    height: 100vh;
    width: 100vw;
    background-color: #222;
} 

.page3 {
    height: 100vh;
    width: 100vw;
    background-color: #333;
} 