* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}
 
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.main {
  display: flex;
  justify-content: center;
}

.card1 {
  background-color: palevioletred;
  margin: 30px;
  height: 170px;
  padding: 50px;
  width: 500px;
  border-radius: 10px;
}